body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 300px;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.main-content {
    flex: 1;
    padding: 10px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}



.navigation {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    background: white;
    padding: 1px 5%;
    border-bottom: 2px solid #0094d8;
}

.navigation>a>img {
    width: auto;
    height: 50px;
}

.nav_items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: auto;
    align-items: center;

}

.nav_items>p,
.nav_items>div>a {
    text-decoration: none;
    color: #0094d8;
}