<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="mail">Mail * :</label>
        <input type="text" id="mail" name="mail" required><br><br>

        <label for="mdp">Mot de passe * :</label>
        <input type="text" id="mdp" name="mdp"><br><br>

        <input type="submit" value="Se connecter">
    </form>
</body>
</html>